<div class="app">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <h2 class="text-center my-4">
        Listagem de personagens RICK AND MORTY
      </h2>
      <div class="col-12">
        <app-lis-api></app-lis-api>
      </div>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 text-white">
  <div class="container text-center">
      <small>Copyright &copy; Feito com por <i class="fas fa-heart"> </i> Thallyta Castro</small>
  </div>
</footer>
