<section class="d-flex justify-content-center flex-wrap">
  <div class="card mx-3 my-3" style="width: 18rem;" *ngFor="let p of personagens">
    <img [src]="p.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center"> {{ p.name }} </h5>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">
        <i class="fas fa-circle" [ngClass]="{'setGreen': p.status == 'Alive', 'setRed': p.status == 'Dead', 'setGrey': p.status == 'unknown' }"></i>
        {{ p.status }} - {{ p.species }}</li>
      <li class="list-group-item"> Gender: {{ p.gender }}</li>
      <li class="list-group-item"> Origin:  {{ p.origin.name }}</li>
      <li class="list-group-item"> <i class="fas fa-map-pin"></i> Location:  {{ p.location.name }}</li>
    </ul>
  </div>
</section>
